<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" media="(min-width:500px)" type="text/css" href="/static/css/my.css">
	<link rel="stylesheet" media="(max-width:500px)" href="/static/css/my_mobile.css">
	<title>机客公会  — 一起来搞把,兄弟</title>
</head>
<body>
<div class="all" id="all">

	<div class="container">
		<div class="navbar navbar-inverse" id="nav">
			<div class="navbar-header">
				<a href="/home" class="">
					<img src="/static/images/logo.jpg">
				</a>
				<button id="menu">MENU</button>
			</div>
			<div id="links"><!--
				<label for="toggle" id="toggleText">MENU</label>
				<input type="checkbox" id="toggle"> -->
				<ul class="nav navbar-nav navbar-left" id="basic_links">
					<li><a href="#">HOME</a></li>
					<li><a href="#">APPS</a></li>
					<li id=""><a href='#' class="btn-href" id="blogs_href">BLOGS</a></li>
					<li><a href="#">NEWS</a></li>
					<li><a href="#">PROFUCTS</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/about">ABOUT</a></li>
					<li><a href="#">LEARN MORE</a></li>
					<li><a href="/login" id="loginIcon">LOGIN</a></li>
                    <div id="sb"></div>
				</ul>
			</div>


		</div>
	</div>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <embed wmode="transparent" src="/static/flash/02.swf" quality="high" bgcolor="#FDF6E3"  name="honehoneclock" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">    </div>
{{ nickname }}
    <div class="container">
		<div class="label label-danger">Hot News</div>
		<div class="list-group" style="background-color: transparent ">
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
			<a class="list-group-item">Lorem ipsum dolor sit amet, consectetur </a>
		</div>
	</div>

    <div class="container">
	<div class="container" id="app-blogs">

		<div class="col-md-5" id="blogs">

			<div class="panel panel-default panel-danger" id="blogs-panel">

				<div class="panel-heading">hot blogs</div>
				<table class="table table-striped">
					<tr id="firstBlog">
						<td><a href="https://www.baidu.com/" class="link">小鸡鸡的致富之道</a></td>
					</tr>

				</table>
				<div class="panel-footer"></div>
			</div>
		</div>

		<div class="col-md-7" id="apps">
			<div class="panel panel-default panel-danger">
				<div class="panel-heading">Hot Apps</div>
				<div class="panel-body" style="background-color: transparent;">
					<div class="table">
						<thead><tr><th></th><th></th><th></th></tr></thead>
						<tbody>
							<tr style="background-color: red;">
                                <div id="row1"><div class=""></div></div>

{#								<td><a  class="showAPP" href="https://www.wandoujia.com/apps/596157">#}
{#                                    <img class="appImg" src="https://android-artworks.25pp.com/fs08/2019/12/02/11/106_7752066e7e198296d472e400922704d0_con_130x130.png"#}
{#                                         alt="">#}
{#                                </a></td>#}
{##}
{#								<td><div class="showAPP"></div></td>#}
{##}
{#								<td><div class="showAPP"></div></td>#}
{##}
{#								<td><div class="showAPP"></div></td>#}
							</tr>
							<tr>
                                <div id="row2"><div class=""></div></div>
							</tr>
							<tr>
                                <div id="row3"><div class=""></div></div>
							</tr>
{#							<tr>#}
{#                                <div id="row4"><div class=""></div></div>#}
{#							</tr>#}
						</tbody>
					</div>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
	</div>
</div>

	<footer >@copyright 机客公会@Showi小冰</footer>
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
	<script src="/static/js/main.js"></script>
</body>
</html>